*{
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium
  }
  main{
    margin: 50px
  }
  header{
    background-color: #001e3d;
    align-items: start;
    vertical-align: top;
    color: white;
  }
button {
  background-color: #001e3d;
  padding: 30px;
  color: white;
  border: none;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.35);
  transform: scale(1.0);
  transition: 250ms ease
  }
.ajuste{
    max-width:300px;
    max-height:100px;
    width: auto;
    height: auto;
}
.footer{
  background-color: #001e3d;
  color: white;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  bottom: 0;
  height: 2.5rem;
  position: relative;
}
.imagem{
  align-items: center;
  max-width:1000px;
  max-height:500px;
  width: auto;
  height: auto;
}
.subtitulo{
  font-weight: lighter;
  font-size: 20px;
}
.texto{
  font-weight: lighter;
  font-size: 13pt;
}
